@font-face {
    font-family: "TT Lakes";
    src: local("TT Lakes Regular"), local("TT-Lakes-Regular"),
    url("font/TTLakes/TTLakes-Regular.woff") format("woff"),
    url("font/TTLakes/TTLakes-Regular.eot") format("eot"),
    url("font/TTLakes/TTLakes-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('font/TTLakes/');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('font/TTLakes/?#iefix') format('embedded-opentype'),
        url('font/TTLakes/TTLakes-Medium.woff') format('woff'),
        url('font/TTLakes/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('font/TTLakes/TTLakes-Bold.eot');
    src: local('font/TTLakes/TT Lakes Bold'), local('TTLakes-Bold'),
        url('font/TTLakes/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('font/TTLakes/TTLakes-Bold.woff') format('woff'),
        url('font/TTLakes/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html {
    box-sizing: border-box;
    height: 100%;
}
*, *::after, *::before {
    box-sizing: inherit;
}

body {
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #1B1C21;
    margin: 0;
    width: 320px;
    height: 100%;
    position: sticky;
    left: 0;
    top: 0;
    box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2), -2px 0 4px 0 rgba(69, 79, 126, 0.02);
}

.side-menu {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.header {
    display: flex;
    align-items: center;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 18px;
}

.icon {
    border: none;
    border-radius: 50%;
    background: transparent;
    padding: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.icon:hover {
    transition-duration: 1s;
    opacity: 0.5;
}

.icon__burger {
    margin-right: 18px;
}

.header__logo {
    width: 96px;
    height: 50px;
    margin-right: auto;
}

.main-menu {
    margin: 0;
    padding: 0;
    padding-top: 46px;
    list-style: none;
    flex: 1 1 auto;
}

.main-menu__item {
    padding-left: 24px;
    padding-top: 32px;
}

.main-menu__item:first-child {
    padding-top: 0;
}

.main-menu__item a {
    text-decoration: none;
    color: inherit;
}

.main-menu__item--active {
    color: #7E7E82;
}

.main-menu__item--active::before {
    content: "";
    width: 4px;
    height: 32px;
    position: absolute;
    left: 0px;
    background-image: url('img/highlight.svg');
}
.footer {
    padding-left: 24px;
}
.fotter__icons {
    display: flex;
}

.icon__phone {
    margin-right: 16px;
}

.icon__chat {
    margin-right: 16px;
}

.footer__mail {
    padding-top: 16px;
    display: block;
    text-decoration: none;
    color: inherit;
}

.footer__phone {
    padding-top: 12px;
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
}

.footer__language {
    padding-top: 40px;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    margin-right: 8px;
    padding-bottom: 32px;
}

.footer__language--active {
    color: #7E7E82;
}